# Docker image tag
IMAGE_TAG=latest

# PORT
WEB_PORT=8087

# PostgreSQL
# ------------------------------------------------------------------------------
POSTGRES_HOST=<POSTGRES_HOST>
POSTGRES_PORT=5432
POSTGRES_DB=skyviewerdb
POSTGRES_USER=<POSTGRES_USER>
POSTGRES_PASSWORD=<POSTGRES_PASSWORD>

# General
# ------------------------------------------------------------------------------
DJANGO_DEBUG=False
DJANGO_LOG_LEVEL=INFO
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=hIIbCQezMLys5Ya2Flyx2NDdrs4ZG6DA2pLDu8kKPgtjP7xx6D1m8yccSD6zX6Br
DJANGO_ALLOWED_HOSTS=.skyviewer.linea.org.br
DJANGO_UWSGI_WORKER_PROCESSES=4
DJANGO_UWSGI_WORKER_THREADS=2

# Databases
DATABASE_URL=postgres://$POSTGRES_USER:$POSTGRES_PASSWORD@$POSTGRES_HOST:$POSTGRES_PORT/$POSTGRES_DB


# Redis
# ------------------------------------------------------------------------------
REDIS_URL=redis://redis:6379/0

# Celery
# ------------------------------------------------------------------------------
CELERY_BROKER_URL=$REDIS_URL

# Flower
CELERY_FLOWER_USER=skyviewer
CELERY_FLOWER_PASSWORD=<FLOWER_PASSWORD>

# ------------------------------------------------------------------------------
# LIneA
# ------------------------------------------------------------------------------
ENVIRONMENT_NAME=production
BASE_HOST=https://skyviewer.linea.org.br

#SAML2
# ------------------------------------------------------------------------------
# SATOSA PRODUCTION
LINEA_LOGIN_URL=$BASE_HOST/saml2/login/?idp=https://satosa.linea.org.br/linea/proxy/aHR0cHM6Ly9jaWxvZ29uLm9yZw==
LINEA_REGISTER_URL=https://register.linea.org.br/Shibboleth.sso/Login?SAMLDS=1&target=https://register.linea.org.br/registry/co_petitions/start/coef:155&entityID=https://satosa.linea.org.br/linea/proxy/aHR0cHM6Ly9jaWxvZ29uLm9yZw==

RUBIN_LOGIN_URL=$BASE_HOST/saml2/login/?idp=https://satosa.linea.org.br/linea/proxy/aHR0cHM6Ly9kYXRhLmxzc3QuY2xvdWQv&next=/
RUBIN_REGISTER_URL=https://register.linea.org.br/Shibboleth.sso/Login?SAMLDS=1&target=https://register.linea.org.br/registry/co_petitions/start/coef:189&entityID=https://satosa.linea.org.br/linea/proxy/aHR0cHM6Ly9kYXRhLmxzc3QuY2xvdWQv